<ion-view title="Seu número de telefone">
  <ion-nav-buttons side="right">
    <button ng-click="logger.login()" ng-disabled="!logger.phone || logger.phone.length === 0" class="button button-clear button-positive">Ok</button>
  </ion-nav-buttons>
  <ion-content class="login">
    <div class="text-center instructions">
      Introduza o seu número de telefone
    </div>
    <div class="list">
      <label class="item item-input">
        <input ng-model="logger.phone" on-return="logger.login()" type="text" placeholder="Seu número de telefone">
      </label>
    </div>
  </ion-content>
</ion-view>